@charset "UTF-8";

/* Global ----------------------------------------------------------------------------------------------------------------------------------*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Cabeçalho ----------------------------------------------------------------------------------------------------------------------------------*/

#cabeçalho {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

#logo {
    font-size: 50px;
    margin-left: 3%;
    font-weight: bolder;
    color: #fff;
}

#list_navbar {
    display: flex;
    padding: 20px;
}

#list_navbar li {
    list-style-type: none;
    padding: 10px;
}

#list_navbar li a {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    list-style-type: none;
}

/* Body Page ----------------------------------------------------------------------------------------------------------------------------------*/

#conteudo {
    text-align: center;
    font-size: 40px;
    margin-top: 20%;
}

/* Inputs configs ----------------------------------------------------------------------------------------------------------------------------------*/

#name {
    margin: 20px auto 30px auto;
    padding: 10px;
    border-radius: 20px;
}

#send {
    margin: 20px auto 10px 05px;
    padding: 05px;
    border-radius: 20px;
}